.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-left {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-right: 10px;
  /* background-color:yellow; */
}

.nav-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #111;
  margin-right: 20px;
}

.nav-link {
   display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #0b5ed7;
}
.nav-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b5ed7;
  padding: 10px 5px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(128, 128, 128,0.2);
  /* border: 2px solid #0b5ed7; */
}

.nav-right {
  display: flex;
  width: 30%;
  align-items: center;
  gap: 16px;
}

.user-email {
  font-size: 0.9rem;
  color: #333;
}

.logout-btn {
  background-color: #f4f4f4;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout-btn:hover {
  background-color: #0b5ed7;
  color: white;
  border-color: #0b5ed7;
}
  